:root {
  --logo-color: #c5002b;
  --background-color: #141512;
  --font-color: #f8f8f8;
  --accent-color: #cfcfcf;
}
body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
}
h1,
h2 {
  margin: 0.4em 0;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.35), 0 0 18px rgba(0, 0, 0, 0.25);
}
.logo-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  font-size: 4em;
  color: var(--logo-color);
}
.logo-subheading {
  font-size: 2.5em;
  color: var(--font-color);
  padding: 0.2em 1em;
  border: 1px solid var(--font-color);
  border-radius: 4em;
  text-wrap: nowrap;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
}
header,
section {
  height: 100vh;
}
header {
  position: relative;
  overflow: hidden;
}
.overlay-container {
  width: 100%;
  height: 100%;
}
.overlay-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  mix-blend-mode: multiply;
}
.img-overlay {
  position: absolute;
  /* Replaces top left right bottom :0 */
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: blur(3px);
}
.logo-container {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-item {
  padding: 2em;
  margin: 2em;
  background-color: var(--logo-color);
}
optgroup {
  font-style: normal;
}
optgroup,
optgroup option {
  text-transform: capitalize;
}
details {
  padding: 1em 0;
}
summary h3 {
  display: inline;
}
