:root {
  --logo-color: #7b1e3d;
  --background-color: #faf8f7;
  --font-color: #2b2b2b;
  --heading-color: #2c1c1c;
  --accent-color: #cfcfcf;
}
body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--font-color);
}
h1,
h2 {
  margin: 0.4em 0;
}
h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-size: 2em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
